@media (max-width:480px){
    body{
      font-size: 14px;
        }
    }
@media (min-width:320px) and (max-width:480px) {
    body{
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    body{
        font-size: 19px;
    }
}
@media (min-width:769px) and (max-width:1200px) {
    body{
        font-size: 25px;
    }
}